<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.iot.mde/ucm4iot/Ucm4iot"
			class = "mde.iot.ucm4iot.ucm4iot.Ucm4iotPackage"
			genModel = "model/generated/Ucm4iot.genmodel" />
	</extension>
</plugin>
